<h1 style="text-align: center">Todo List</h1>
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Task"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="newTodo"
        />
        <button
          class="btn btn-outline-secondary btn-primary"
          type="button"
          id="button-addon2"
          style="color: white"
          (click)="saveTodo()"
        >
          Add
        </button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let todo of todos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td class="{{ !todo.isCompleted ? 'done' : '' }}" (click)="done(i)">
              {{ todo.name }}
            </td>
            <td
              style="color: red; font-weight: bold; cursor: pointer"
              (click)="remove(i)"
            >
              X
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
